.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

@media (max-width: 40rem) {
  .feed {
    grid-template-columns: 1fr 1fr;
  }
}

.noPhotosYet h3 {
  margin: 1rem 0;
}

.noPhotosYet p {
  line-height: 1.5;
}
.noPhotosYet a {
  font-weight: 700;
  color: #fb1;
}

.noPhotosYet a:hover {
  text-decoration: underline;
}
